body {
  background-color: #6495ED;
}

h1, h2 {
  font-family: Papyrus;
  color: #FFFFFF;
  font-size: 2em;
}

h5, ul, li {
  font-family: Monaco;
  color: #FFFFFF;
}

p {
  font-family: Monaco;
  color: #FFFFFF;
}

.emphasis {
  color: #E75480;
  font-size: 2em;
}

a:link, a:visited {
  font-family: Copperplate;
  color: #FFFFFF;
  font-size: 1.2em;
}

a:hover {
  color: #E75480;
}
