body {
  background-color: #6495ED;
}

h1, h2 {
  font-family: Papyrus;
  color: #FFFFFF;
}

p {
  font-family: Monaco;
  color: #FFFFFF;;
  font-size: 1.875em;
}

strong, em {
  font-family: Copperplate;
  color: #E75480;
}

a {
  
}
