body {
  background-color: #6495ED;
}

h1, h2 {
  font-family: Papyrus;
  color: #FFFFFF;
}

h4, ul, li {
  font-family: Monaco;
  color: #FFFFFF;
}

p {
  font-family: Monaco;
  color: #FFFFFF;
  font-size: 0.5em;
}

strong, em {
  font-family: Copperplate;
  color: #E75480;
}

a:link {
  font-family: Copperplate;
  color: #FFFFFF;
}

a:hover {
  color: #E75480;
}
